/* цвет основного текста #212121  */
/*вторічний цвет текста #757575 */
/* заголовок цвет текста #FFFFFF */
/* акцент #2196F3 */
:root {
  --main-text-color: #212121; 
  --second-text-color: #757575;
  --main-title-color: #FFFFFF;
  --accent-color: #2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
    color:var(--main-text-color);
}

 .list {
list-style: none;
}
.link {
    text-decoration: none;  
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* --------HEADER------------ */

.header {
    background-color: white;
}

.logo {
    color: #000000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em
}
.logo-blue{
    color:var(--accent-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--main-text-color);
}
.header-link:hover, .header-link:focus {
    color:var(--accent-color);
}
.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--main-text-color);
}
.header-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--second-text-color);
}
.header-mail:hover, .header-mail:focus {
    color:var(--accent-color);}

    /* ----------ORDER---------- */

.order {
    background-color: #2F303A;
}
.order-head {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--main-title-color);
}
.head-btn:hover, .head-btn:focus{
    border: none;
    background-color:var(--accent-color) ;
    font-family:inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--main-title-color)
    
    } 
    
    /* ------BENEFIT---------- */
.benefit-head{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--main-text-color);
}
.benefit-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--second-text-color);
}

/* ---------SERVICES------------ */

.services-head {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color:var(--main-text-color);
}
/* --------TEAM--------- */
.team {
    background-color:#F5F4FA ;
}
.team-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-text-color);
}
.team-player {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-text-color);
}
.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--second-text-color);
}
/* -------------FOOTER------------- */
.footer {
    background-color: #2F303A;
}
.footer-link {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--main-title-color);
}
.footer-mail, .footer-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.selection-btn {
    border: none;
    cursor: pointer;
    font-family:inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-text-color);
}
.portfolio-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--main-text-color);
}
.portfolio-dep {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color:var(--second-text-color);
}
.current {
    color: var(--accent-color);
}
.slct-bcg:hover, .slct-bcg:focus{
    color: var(--main-title-color);
    background: var(--accent-color);
}
